<h1>vue-{{title}}</h1>
<h2>{{name}}</h2>
<h1>2+3 = {{sum(2,3)}}</h1>
<button class="{{classStr}}">button</button>
<button [class]="classStr">button</button>
<button [attr.class]="classStr">button</button>

<h1 [attr.data-index]="msg">msg</h1>

<h1>{{htmlStr}}</h1>
<h1 [innerHtml]="htmlStr"></h1>

<h1 [class]="classObj">test</h1>
<h1 [class]="{bgBlue: isShow}">test2</h1>

<div>
  <label for="">用戶名</label>
  <input type="text" [(ngModel)]="username">
  <h1>{{username}}</h1>

  <label for="">密碼</label>
  <input type="text" [(ngModel)]="password">
  <h1>{{password}}</h1>
  <button (click)="clickFn()">提交</button>
</div>

<div>
  <label for="">用戶名2</label>
  <input #input1 type="text">
  <h1>{{username}}</h1>

  <label for="">密碼2</label>
  <input #input2 type="text">
  <h1>{{password}}</h1>
  <button (click)="getContent(input1.value,input2.value)">提交</button>
</div>


<form action="" #formobj="ngForm">
  <input type="text" [(ngModel)]="username" name="username2">
  <input type="text" [(ngModel)]="password" name="password2">
  <button (click)="eventFn(formobj)">提交2222</button>
</form>

<div>
  {{msg|uppercase}}
</div>
<div>
  {{msg|ivesUppercase}}
</div>

<app-child [item]="sendchildMsg" (childMsg)="getEvent($event)"></app-child>

<h1>子組件發來信息：{{getChildMsg}}</h1>

<h1 [appIvesstyle]="'abc'"></h1>

<div *ngFor="let item of stockList">
  <!-- <h1>{{item|json}}</h1> -->
  <h1 *ngIf="item.stockName">股票名稱:{{item.stockName}}</h1>
  <h1 *ngIf="item.stockCode">股票代碼:{{item.stockCode}}</h1>
</div>

<button (click)="stockFn()">獲取10股票列表</button>
<div *ngFor="let item of superStocks">
  <!-- <h1>{{item|json}}</h1> -->
  <h1 *ngIf="item.stockName">股票名稱:{{item.stockName}}</h1>
  <h1 *ngIf="item.stockCode">股票代碼:{{item.stockCode}}</h1>
</div>